* {
	margin: 0;
	padding: 0;
}

body {
	/*background-image: url("Addons/bg.jpg");*/
	background-image: url("Addons/back.jpg");
	background-color: #dae1e7;
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Remove Blur*/
.content {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0%;
  text-align: center;
}

.nav  {
    list-style-type: none;
    overflow: hidden;
    padding: 12px;

/*    background-color: #42AAE6;
    color: black;
*/
    background-color: #4d4d4d;
    color: white;

    font-family: "Comic Sans MS";
    font-size: 1.1em;
}

.desktop {
	display: none;
}

.flexbox {
	margin: 25px;
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
}

.flex {
	margin: 10px;
}

.result {
	font-family: cursive, "times new roman";
	text-align: center;
	padding:10px;
}

.modal {
	display: none; 
	position: fixed;
	z-index: 1; 
	padding-top: 125px;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #42E6D0;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
}

.close {
  	color: #000;
  	float: right;
  	font-size: 28px;
  	font-weight: bold;
}

.close:hover,.close:focus {
 	color: lime;
 	text-decoration: none;
 	cursor: pointer;
}
	
.flex button, .bugs {
	border: none;
	padding: 0;
	background: none;
	cursor: pointer;
}

.flexbox img {
	display: block;
	transition: all .2s ease-in-out;
}

@media screen and (min-width: 568px){
	.flexbox:hover img {
		/*opacity: .8;*/
		transform: scale(.9) rotate(-1deg);
	}

	.flex img:hover {
		opacity: 1;
		transform: scale(1.2) rotate(2deg);
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}	
}


.counter {
  	margin-left: 20px;
  	padding-left: 20px;
  	color: white;
  	font-family: cursive;
}

.bugs {
  	color: lime;
  	position: fixed;
  	right: 20px;
	bottom: 60px;
}

.credits {
    position: fixed;
    right: 20px;
    bottom: 30px;
    color: white;
}

#load {
    width:100%;
    height:100%;
    position:fixed;
    top: 45%;
    left: 45%;
    z-index:9999;
}

#load {
  display: inline-block;
  width: 64px;
  height: 64px;
  /*filter: blur(10px);*/
}

#load:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 568px){
	* {
		font-family: Arial;
	}

	.desktop {
		display: block;
		color: white;
		text-align: center;
		margin-top: 25px;
	}
	.nav {
		font-size: 1em;
		position: sticky;
		top: 0;
	}

	.flex {
		margin: 7px 0px;
	}

	.flex button, img {
		width: 93%;
	}

	.flex img:hover {
		transform: scale(1.1) rotate(2deg);
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}	

	.modal-content {
		width: 80%;
	}

	.result {
		font-size: 1.2em;
		font-family: Arial;
	}

	.counter {
		font-family: Arial;
	}
	
	.bugs {
	    margin-bottom:35px;
	    font-size: 0.8em;
	    color: white;
	}

	.credits {
		margin-bottom: 30px;
		font-size: 0.8em;
	}
}