* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #dae1e7;
}

.nav  {
    list-style-type: none;
    overflow: hidden;
    padding: 12px;
    background-color: #2779bd;
    color: white;
    font-family: "Comic Sans MS";
    font-size: 1.1em;
}

.mainflex{
	display:flex;
	flex-direction:row;
}

.flexbox {
	display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex:75%;
}

.flex {
	margin: 10px;
}

.result {
	flex:20%; 
	font-family: cursive, "times new roman";
	width:20%;
	text-align: left;
	padding:10px;
}

button {
	border: none;
	padding: 0;
	background: none;
	cursor: pointer;
}

.flexbox img {
	display: block;
	transition: all .2s ease-in-out;
}
.flexbox:hover img {
	opacity: .6;
	transform: scale(.9);
	transform: rotate(-1deg);
}

.flex img:hover {
	opacity: 1;
	transform: scale(1.2);
	transform: rotate(2deg);
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
}